section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  margin: 0 auto;
}

.imgCont {
  background-repeat: no-repeat;
  background-image: url("../img/Frame\ 4.png");
  height: 500px;
  box-sizing: border-box;
  background-size: cover;
  filter: opacity(70%);
}

.abt {
  position: absolute;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(39, 37, 37);
  text-shadow: 2px 2px 4px rgb(208, 208, 208);
  text-align: center;
  font-size: 3.5rem;
  top: 30%;
  left: 40%;
}

.image {
  background: url("../img/img.png") no-repeat;
  background-size: cover;
  margin: 50px;
}

.about {
  padding: 40px;
}

.about p {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px rgb(182, 182, 182);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  opacity: 0.9;
  color: red;
}

.content p {
  padding-bottom: 15px;
  font-weight: 300;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
}

.text {
  margin: 15px 0;
  color: white;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 999;
  transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px dotted #ce5d07;
  border-top-color:rgb(244, 240, 240);
  border-radius: 50%;
  animation: loading 0.7s ease infinite
}

@keyframes loading {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}

@media (max-width: 992px) {
  section {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .image {
    height: 100vh;
  }

  .content {
    height: 100vh;
  }

  .content h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .content span {
    margin: 20px 0;
  }

  .content p {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
    margin: 5px 0;
    padding: 6px 10px;
    color: white;
  }
}

@media (max-width:480px) {
  .abt {
    left: 30%;
  }


}

@media (max-width:320px) {
  .abt {
    left: 21%;
  }
}