@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.errPage a {
    padding: 20px;
    background: #21dad4;
    border-radius: 30px;
    border: 1px solid black;
}

.errPage h2 {
    color: red;
    font-size: 40px;
    text-align: center
}

.errPage>div {
    margin-bottom: 50px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999;
    transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px dotted #ce5d07;
    border-top-color:rgb(244, 240, 240);
    border-radius: 50%;
    animation: loading 0.7s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
.errPage {
    width: 200px;
    margin: 100px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

:root {
    --blue: #151516;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.navigation ul li a.activeNav {
    color: #0186ff;
}


.container1 {
    position: relative;
    width: 150px;
    height: 77px;
    padding: 8px 0px;
    background: none;
    overflow: hidden;
    transition: height .4s ease-in;
}

.card {
    position: relative;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.card-img img {
    width: 60px;
}

.img img:hover {
    cursor: pointer;
    overflow: hidden;
    transform: scale(1.05);
    transition: 0.5s;
}

.img img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.card h2 {
    font-size: 14px;
    margin-left: 14px;
    color: white;
    letter-spacing: 1px;
}

.card h2 span {
    font-size: 12px;
    font-weight: 400;
    color: rgb(178, 178, 178);
    letter-spacing: 0px;
}

.container1 ul {
    position: relative;
    background: #1d3c5f;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container1 ul a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


.container1 ul a:hover {
    color: #3EDBF0;
    cursor: pointer;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 1.6rem 5rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}

.container {
    position: relative;
    width: 100%;
}

.navigation.active {
    width: 80px;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: black;
    border-left: 10px solid black;
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li:hover {
    background: var(--white);
    cursor: pointer;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* .navigation ul li:hover a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
} */

/* .navigation ul li:hover a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
} */

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    color: white;
    background: #191919;
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px
}

.navigation ul li:nth-child(1) a .title {
    top: 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    background: black;
    color: white;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: #000;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: white;
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 2.6em;
    margin-left: 10px;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--white);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--black1);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.details .admins {
    position: relative;
    display: grid;
    background: black;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: white;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.details table thead td {
    font-weight: 600;
}

.details .admins table tr {
    color: whitesmoke;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .admins table tr:hover {
    background: var(--white);
    color: var(--black1);
}

.details .admins table tr td {
    padding: 15px 10px
}

.details .admins table tr td:last-child {
    text-align: end;
}

.details .admins table tr td:nth-child(2) {
    text-align: left;
}

.status.active {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inactive {
    padding: 2px 4px;
    background: #ea3001;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

#edit {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
}

.editForm label {
    color: #5a5a5a;
    margin-bottom: 8px;
}

.editForm {
    background: white;
    padding: 40px 30px;
    width: 55%;
}

.tiTle {
    color: black;
}

.desC {
    min-height: 340px;
    color: black;
}

/* 
.editForm input {
    margin-bottom: 15px;
} */

#myTableBody button.edit:hover {
    cursor: pointer;
    background-color: rgb(3, 21, 222);
    color: wheat;
}

#myTableBody button.delete:hover {
    cursor: pointer;
    background-color: rgb(194, 0, 0);
    color: wheat;
}

#myTableBody {
    cursor: default;
}

#myTableBody button.edit {
    width: 25px;
    color: rgb(13, 13, 228);
    height: 25px;
    border: none;
    border-radius: 12.5px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#myTableBody button.delete {
    width: 25px;
    color: red;
    height: 25px;
    border: none;
    border-radius: 12.5px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#myTableBody .whit {
    color: white;
}

@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .admins {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}