/* form.css */
form{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh,
}

.form-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: black;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2380b6;
}

.row {
  margin-bottom: 20px;
}
h1{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 999;
  transition: opacity 0.90s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 999;
  transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px dotted #ce5d07;
  border-top-color:rgb(244, 240, 240);
  border-radius: 50%;
  animation: loading 0.7s ease infinite
}

@keyframes loading {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}
.logo img{
  border-radius: 50%;
  padding-top: 2px;
}
