.feat_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
button .registerButton{
    background-color: #139BFE;
}
.banner{
    color:white;
    left: 60%;
}
.banHed {
    position: relative;
    top: 30%;
    left: 60%;
    font-size: 35px;
    font-weight: 800;
    color:white;
}

.descc {
    position: relative;
    top: 30%;
    left: 60%;
    font-size: 22px;
    font-weight: 200;
}

.banner {
    z-index: 1;
    height: 100vh;
    background: url(../img/homebackground.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}


button {
    color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.view-more {
    width: 12rem;
    height: auto;
}

button.view-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 32px;
    height: 32px;
    background: #1e898d;
    border-radius: 1.625rem;
}

button.view-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.view-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    /* left: 0.225rem; */
    width: 20px;
    height: 0.125rem;
    background: none;
}

button.view-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.28rem;
    right: 0.05rem;
    width: 0.525rem;
    height: 0.525rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.view-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ddddea;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.announcement {
    display: flex;
    background: url("../img/slanted-gradient.svg") no-repeat;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    margin: 0 auto 40px auto;
    box-shadow: 0px 0px 6px #0c1a44;
    width: 90%;
    height: 280px;
}

.moreAnn {
    width: 200px;
}

.none {
    display: none;
}

.date,
.circle,
.icon,
.button-text {
    display: block;
    margin: 10px 0 20px 0;
    font-size: 12px;
    color: #cbcbcb;
    font-weight: 500;
}

.annTxt {
    width: 50%;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.announce_cont {
  flex: 1;
}

.announce_head {
  display: flex;
  justify-content: center;
}

.announcement img {
    width: 290px;
    height: 200px;
}

.announce_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


.international {
    border-bottom: 4px solid #F60E0E;
}

.national {
    border-bottom: 4px solid #139BFE;
}

.local {
    border-bottom: 4px solid #0EF6DB;
}

.int span {
    color: #F60E0E;
}

.ntl span {
    color: #139BFE;
}

.lcl span {
    color: #0EF6DB;
}

.item span {
    font-size: 14px;
}


.feat_head span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #d1370cc9;
}

.announce_head span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #d1370cc9;
}

.feat_head span {
    font-size: 12px;
}

.announce_head span {
    font-size: 12px;
}

.announce_head h4 {
    letter-spacing: 1.4px;
    margin-left: 20px;
    font-size: 20px;
}

.feat_head h4 {
    font-size: 20px;
}

.grid_cont {
    display: grid;
    grid-gap: 0 15px;
    position: relative;
    top: -15px;
    overflow: hidden;
    padding: 0 10px 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item {
    margin: 10px 10px 40px 10px;
    font-family: Montserrat;
    font-weight: 500;
}


.item strong {
    margin-top: 10px;
    display: block;
}

.itc {
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
}

.none {
    display: none;
}

.item:hover {
    cursor: pointer;
}

.item:hover .hed {
    text-decoration: underline;
}

.item:hover .navigate {
    transform: scale(1.1);
    transition: 0.5s;
}


.item span,
.item strong {
    pointer-events: none;
}

.item img {
    height: 274px;
    width: 100%;
}

.logo img{
    border-radius: 50%;
    padding-top: 2px;
}
@media (max-width: 768px) {
    .announcement {
        height: 100%;
    }

    .announcement img {
        width: 250px;
        height: 160px;
    }

    .view-more .circle {
        display: none;
    }

    .banner {
        height: 50vh;
    }

    .banHed {
        top: 24%;
        left: 43%;
        font-size: 28px;
    }

    .descc {
        top: 21%;
        width: 304px;
        text-align: center;
        left: 41%;
        font-size: 13px;
    }

    button.view-more {
        position: relative;
        top: -10px;
        left: -44px;
    }

    button.view-more .circle {
        display: none;
    }

    button.view-more .button-text {
        border-radius: 30px;
        background: #1e898d;
    }
}


@media (max-width: 480px) {
    .descc {
        top: 21%;
        width: 228px;
        left: 37%;
        font-size: 12px;
    }

    .banHed {
        top: 26%;
        left: 41%;
        font-size: 20px;
    }

    .announce_head {
        padding: 0 30px;
    }

    .announce_head h4 {
        margin-left: -5px;
        letter-spacing: 1px;
    }

    .announcement img {
        width: 80%;
        height: 200px;
    }

    .announcement {
        text-align: center;
        display: block;
        padding: 20px 0;
    }

    .annTxt strong {
        font-size: 16px;
    }

    .annTxt {
        width: 80%;
        text-align: left;
        margin: 10px auto;
    }

    button.view-more {
        left: -28px;
    }

}

@media (max-width:358px) {
    .descc {
        top: 23%;
        width: 169px;
        left: 35%;
        font-size: 10px;
    }

    .banHed {
        top: 26%;
        left: 37%;
        font-size: 16px;
    }

    .grid_cont {
        padding: 0;
    }

    .item {
        margin: 10px 30px 40px 10px;
    }

    .item img {
        height: 235px;
    }

    .imgCont p {
        width: 300px;
    }

    .feat_head a {
        font-size: 10px;
    }
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999;
    transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px dotted #ce5d07;
    border-top-color:rgb(244, 240, 240);
    border-radius: 50%;
    animation: loading 0.7s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}