@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    background: url(../img/LEDs_\ Are\ They\ Really\ Better\ for\ the\ Environment_\ -\ Shop\ TrueLight®.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



h1 {
    font-family: Poppins-Bold;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 30px;
}

.imgcontainer img {
    height: 125px;
    border-radius: 50%;
}

.left>span:hover {
    color: rgb(36, 10, 231);
    cursor: pointer;
    text-decoration: underline;

}

.left {
    margin: 10px 0;
    font-size: 12px;
}

.right {
    margin: 10px 0;
    font-size: 12px;
}

form {
    /* border: 3px solid #050928; */
    background:whitesmoke;
    padding: 30px;
    max-width: 355px;
    color:black;
    margin: 30px auto;
    box-shadow: 0 0 1em rgb(11 11 11);
    border-radius: 5px;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 1.6rem 5rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color:green;
}

.alert--error {
    background-color: red;
}

::placeholder {
    color: #7d7d7d
}

input.fname,
input.ename,
input.password,
input.passwordC,
input.email {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    color: rgb(15, 15, 15);
    background: none;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    outline: none;
}
select{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    color: rgb(19, 18, 18);
    background: none;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    outline: none;
}


.btn {
    display: flex;
    justify-content: center;

}

/* Set a style for all buttons */
button {
    background-color:green;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 30px;
}

/* Add a hover effect for buttons */
button:hover {
    background-color: darkgreen;
    transform: scale(1.1);
    transition: 0.5s;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999;
    transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px dotted #ce5d07;
    border-top-color:rgb(244, 240, 240);
    border-radius: 50%;
    animation: loading 0.7s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.signUP a:hover {
    color: #163cd7;
    text-decoration: underline;
    cursor: pointer;
}

.signUP a {
    color: #4766e6;
}

.signUP {
    font-size: 12px;
    padding: 5px 0 5px 5px;
}

@media (max-width:480px) {
    .alert {
        width: 70%;
        font-size: 1.5rem;
        padding: 1.6rem 3rem
    }

    form {
        max-width: 300px;
    }
}

@media (max-width:320px) {
    form {
        max-width: 250px;
        padding: 14px;
    }

    .imgcontainer img {
        height: 100px;
    }

    input.fname,
    input.ename,
    input.password,
    input.passwordC,
    input.email {
        padding: 10px;
    }
}