.formCont {
    width: 550px;
    background: #010b1d;
    margin: 50px auto;
    padding: 40px;
    border-radius: 40px;
    color: white;
}

form>div {
    margin: 15px 0;
}

.userP {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.one label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.one label {
    display: block;
    position: relative;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background: #148eb5;
    border: 1px solid;
    border-radius: 10px;
}

::placeholder {
    color: rgb(169, 169, 169);
}

.one {
    text-align: center;
}

#photo {
    display: none;
}

input {
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #0028ff;
    box-shadow: 0px 15px 20px rgb(46 77 229 / 40%);
    color: #fff;
    transform: translateY(-7px);
}

.btn:active {
    transform: translateY(-1px);
}

.two {
    font-size: larger;
}

@media (max-width:480px) {
    .formCont {
        width: 90%;
        padding: 20px 30px;
    }
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999;
    transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px dotted #ce5d07;
    border-top-color:rgb(244, 240, 240);
    border-radius: 50%;
    animation: loading 0.7s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}