html {
  background-color:rgb(254, 255, 254);
  box-sizing: border-box;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 999;
  transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px dotted #ce5d07;
  border-top-color:rgb(244, 240, 240);
  border-radius: 50%;
  animation: loading 0.7s ease infinite
}


@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  padding: 1.6rem 5rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #023e19;
}

.alert--error {
  background-color: #eb4d4b;
}

body {
  margin: 0;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

nav {
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  background-color:rgb(6, 49, 6);
  height: 85px;
  position: sticky;
  box-shadow: 0 4px 10px 3px #050508;
  top: 0;
  z-index: 100;
}

nav>.logo {
  padding: 0 0 0 1.8rem;

}

nav>ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav>ul li a {
  color: #EEEEEE;
  padding: 0 2rem;
  text-decoration: none;
  font-weight: 550;
  transition: 0.3s all;
}

nav>ul li a:hover {
  color: rgb(83, 145, 215);
}


.acc strong {
  font-size: 12px;
}

.acc span {
  display: block;
  font-size: 10px;
}


.img img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.mini-nav-logo img {
  height: 80px;
  margin-top: 10px;
}

.logo img {
  height: 70px;
}

.mini-nav ul {
  padding-inline-start: 5px;
}

.mini-nav ul a {
  color: #EEEEEE;
  text-decoration: none;
  transition: 0.3s all;
  font-weight: 550;
}

.mini-nav ul a:hover {
  color: white;
}

.mini-nav .profile {
  padding-top: 2rem;
}

.mini-nav .logo {
  padding: 0 0 0 2rem;
  border-bottom: 1px solid white;
}

.mini-nav ul li {
  list-style: none;
  padding: 15px 10px;
}

.bars {
  display: none;
  z-index: 1;
}

nav .mini-nav {
  position: fixed;
  top: 0;
  left: -90%;
  width: 200px;
  height: 100vh;
  background-color: #0f0f0f;
  padding: 0 2rem;
  transition: 0.5s all;
  z-index: 1;
}

nav label i {
  padding-top: 1.5rem;
  color: white;
  font-size: 30px;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #081754;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #043d22;
}
button:active {
  background-color: #054e10;
}


footer {
  font-family: Tahoma;
  font-weight: 500;
  overflow: hidden;
  background: #023e19;
}

.upperfooter {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.lowerfooter {
  width: 100%;
  padding-bottom: 10px;
}

.footcontainer {
  width: 100%;
  padding-top: 30px;
}

.zxc {
  padding-right: 20px;
}

.zxc p {
  margin-top: 40px;
}

.foot p span {
  display: block;
}

.foot .na a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0664a8;
}

.foot .na a {
  text-decoration: none;
  display: block;
  color: #EEEEEE;
  margin: 20px 0;
}

.foot {
  width: 25%;
}

.footcontainer p {
  color: aliceblue;
}

.footcontainer h4 {
  color: aliceblue;
}

.container {
  position: relative;
  width: 150px;
  height: 65px;
  padding: 8px 28px;
  background: none;
  overflow: hidden;
  transition: height .4s ease-in;
}

.container.active {
  height: 215px;

}

.card {
  position: relative;
  display: flex;
  align-items: center;
}

.card-img img {
  width: 60px;

}

.card h2 {
  font-size: 14px;
  margin-left: 14px;
  color: #fff;
  letter-spacing: 1px;
}

.card h2 span {
  font-size: 12px;
  font-weight: 400;
  color: rgb(178, 178, 178);
  letter-spacing: 0px;
}

.container ul li:hover {
  background: #094bbd;
}

.container ul li {
  padding: 10px;
  border-radius: 5px;
}

.container ul {
  position: relative;
  background: rgb(6, 49, 6);
  /* margin-top: 20px; */
  top: -15px;
  border-radius: 5px;
  padding: 5px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container ul a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.fa {
  font-size: 2rem;
  margin-right: 1rem;

}

.container ul a:hover {
  color: #3EDBF0;
  cursor: pointer;
}

.toggle {
  position: absolute;
  bottom: 60px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #107cf1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.toggle>.fa {
  margin: auto;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  font-size: 12px;
}

.container.active .toggle>.fa {
  transform: rotate(-540deg);
}

@media (max-width: 768px) {

  nav>ul a,
  .logo {
    display: none;
  }

  nav .bars {
    display: block;
    position: fixed;
    left: 35px;
    top: 0;
  }

  .mini-nav {
    display: block;
  }

  #mini-nav:checked~.mini-nav {
    left: 0;
  }

  .upperfooter {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .zxc {
    padding: 0;
  }

  .foot img {
    height: 100px;
  }

  .foot {
    margin: 0 auto;
    width: 55%;
    text-align: center;
  }
}

@media (max-width:480px) {
  .alert {
    width: 80%;
    font-size: 1.5rem;
    padding: 1.6rem 3rem
  }
}