/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-color: #00a651;
    height: auto;
    background-size: 100%;
}

.header_bg {
    background: #fb6818;
    border-bottom: 1px solid #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #252525;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 15px 65px;
}

.search_icon {
    width: 100px;
    float: right;
    color: #ffffff;
    text-align: right;
    font-size: 18px;
}

.search_icon:hover {
    color: #252525;
}


/* header section end */

.layout_border {
    width: 100%;
    float: left;
    border: 1px solid #000;
    margin: 20px 0px;
}


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-left: 90px;
    padding-top: 90px;
}

.banner_taital {
    width: 50%;
    float: left;
    font-size: 50px;
    color: #2c2c2c;
    font-weight: bold;
}

.banner_text {
    width: 100%;
    font-size: 16px;
    color: #2c2c2c;
    margin: 0px;
    padding-top: 10px;
    display: flex;
}

.banner_img {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.btn_main {
    width: 100%;
    display: flex;
}

.started_text {
    width: 170px;
    margin-right: 20px;
    margin-top: 30px;
}

.started_text a {
    width: 100%;
    float: left;
    padding: 10px 10px;
    color: #fefefd;
    background-color: #00a651;
    text-align: center;
    font-size: 16px;
    border-radius: 40px;
    text-transform: uppercase;
}

.started_text a:hover {
    color: #fefefd;
    background-color: #2c2c2c;
}

.started_text.active a {
    color: #fefefd;
    background-color: #2c2c2c;
}

#main_slider a.carousel-control-prev {
    left: 0px;
    top: 220px;
}

#main_slider a.carousel-control-next {
    right: 0px;
    top: 220px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 30px;
    color: #333333;
    border-radius: 100%;
    margin: 0 auto;
}


/* banner section end */


/* about_section section start */

.about_section {
    width: 100%;
    float: left;
    background-color: #fff;
    height: auto;
    background-size: 100%;
    padding: 90px 0px 0px 0px;
}

.margin_top0 {
    margin-top: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: 600;
    padding-top: 10px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232323;
    margin: 0px;
}

.about_section_2 {
    padding-top: 50px;
}

.fresh_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: 600;
    padding-top: 30px;
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232323;
    margin: 0px;
    padding-top: 55px;
}

.read_bt {
    width: 170px;
    float: left;
    padding-top: 55px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #00a651;
    color: #ffffff;
    text-align: center;
    border-radius: 40px;
    padding: 8px;
}

.read_bt a:hover {
    color: #fafafa;
    background-color: #252525;
}

.about_img {
    width: 100%;
    float: left;
}


/* about section end */


/* vagetables section start */

.vagetables_section {
    width: 100%;
    float: left;
}

.vagetables_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: bold;
}

.vagetables_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232323;
    margin: 0px;
}

.vagetables_section_2 {
    width: 100%;
    float: left;
    padding: 40px 0px 0px 0px;
}


/* Zoom In #1 */

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.column {
    margin: 15px 0px 0;
    padding: 0;
}

.column:last-child {
    padding-bottom: 30px;
}

.column::after {
    content: '';
    clear: both;
    display: block;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.harshal_text {
    width: 100%;
    float: left;
    text-align: center;
    color: #333333;
    font-size: 22px;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 0px;
}

.rate_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    color: #00a651;
    font-weight: bold;
    padding-bottom: 0px;
}

.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #00a651;
    color: #ffffff;
    text-align: center;
    border-radius: 40px;
    padding: 8px;
}

.read_bt_1 a:hover {
    color: #fafafa;
    background-color: #252525;
}


/* vagetables section end */


/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: 500;
    font-weight: bold;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232323;
    margin: 0px;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.blog_taital_1 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: 600;
    margin-top: 25px;
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232323;
    padding-top: 44px;
    margin: 0px;
}

.readmore_bt {
    width: 170px;
    float: left;
    padding-top: 55px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #00a651;
    color: #ffffff;
    text-align: center;
    border-radius: 40px;
    padding: 8px;
}

.readmore_bt a:hover {
    color: #fafafa;
    background-color: #252525;
}

.blog_img {
    width: 100%;
    float: left;
}


/* blog section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: bold;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.mail_section_1 {
    width: 100%;
    float: left;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4f4e4e;
    border: 0px;
    background-color: #ffff;
    padding: 8px 15px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #d8cecd;
    font-family: 'Poppins', sans-serif;
}

.massage-bt {
    color: #4f4e4e;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #ffff;
    padding: 40px 15px 0px 15px;
    border: 0px;
    height: 110px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #d8cecd;
    font-family: 'Poppins', sans-serif;
}

.send_bt {
    width: 170px;
    float: left;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
    background-color: #00a651;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

.send_bt a:hover {
    color: #fafafa;
    background-color: #252525;
}

.map_main {
    width: 100%;
    float: left;
}


/* contact section end */


/* testimonial section start */

.testimonial_section {
    width: 100%;
    float: left;
    padding: 0px 0px 90px 0px;
    position: relative;
}

.testimonial_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2c2c2c;
    font-weight: bold;
    text-align: center;
}

.testimonial_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.testimonial_section::after {
    position: absolute;
    content: '';
    width: 120px;
    height: 100px;
    background-image: url(../images/quote-icon.png);
    background-size: 100%;
    left: 40px;
    top: 130px;
}

.testimonial_section::before {
    position: absolute;
    content: '';
    width: 120px;
    height: 100px;
    background-image: url(../images/quote-icon.png);
    background-size: 100%;
    right: 40px;
    top: 130px;
}

.testimonial_box {
    width: 73%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
    padding: 50px 30px 50px 30px;
    border-radius: 20px;
    height: auto;
}

.testimonial_text {
    width: 100%;
    font-size: 16px;
    color: #3d3d3e;
    margin: 0px;
    text-align: center;
}

.client_main {
    width: 73%;
    margin: 0 auto;
}

.client_left {
    width: 20%;
    float: left;
}

.client_right {
    width: 80%;
    float: left;
}

.client_name {
    width: 100%;
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    padding-top: 60px;
    text-transform: uppercase;
    padding-bottom: 0px;
}

.customer_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #00a651;
    margin: 0px;
}

.client_img {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.carousel-indicators .active {
    background-color: #242424;
}

.carousel-indicators li {
    width: 30px;
    height: 10px;
    background-color: #00a651;
    border-radius: 10px;
}

.carousel-indicators {
    bottom: -130px;
    left: initial;
    margin-right: 0px;
}


/* testimonial section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #232323;
    height: auto;
    background-size: 100%;
    padding: 90px 0px;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li a {
    font-size: 16px;
    color: #ffffff;
}

.footer_menu li a:hover {
    color: #ffffff;
}

span.angle_icon {
    font-size: 14px;
    padding-right: 10px;
}

span.angle_icon:hover {
    color: #00a651;
}

span.angle_icon.active {
    color: #00a651;
}

.footer_main {
    width: 50%;
    float: right;
}

p.dummy_text {
    width: 70%;
    font-size: 16px;
    color: #fff;
    margin: 0px;
}

.social_icon {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 100%;
    font-size: 16px;
    margin-right: 5px;
    width: 50px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #232323;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 16px;
    color: #ffffff;
    padding: 0px 0px 10px 0px;
}

.location_text li a {
    color: #ffffff;
    display: flex;
}

.location_text li a:hover {
    color: #00a651;
}

.padding_left_10 {
    padding-right: 10px;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #00a651;
}


/* copyright section end */

.margin_bottom90 {
    margin-bottom: 90px;
}

.container ul a:hover {
  color: #3EDBF0;
  cursor: pointer;
}

.toggle {
  position: absolute;
  bottom: 60px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #107cf1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.toggle>.fa {
  margin: auto;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  font-size: 12px;
}

.container.active .toggle>.fa {
  transform: rotate(-540deg);
}
