.image {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: #000 solid 0.1px;
    color: #000;
}



.fomr {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.image img {
    height: 100%;
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-around;
    width: 57%;
    border-left: 1px solid;
    padding: 20px;
}

.details form input {
    border: #000 solid 0.1px;
    display: block;
    width: 90%;
    padding: 10px;
    /* outline: none; */
    /* border: none; */
    border-radius: 5px;
}

.details form {
    width: 280px;
}

#photo {
    display: none;
}

.image label:hover {
    cursor: pointer;
}

.image label {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(236, 236, 232);
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
}

.two {
    margin: 10px 0;
}

.btn {
    padding: 1em 2.5em;
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #3db818;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn:active {
    transform: translateY(-1px);
}

.two {
    font-size: larger;
}

@media (max-width: 768px) {
    .fomr {
        display: block;
    }

    .details {
        display: block;
        border: 0;
        margin: 0 auto;
    }

    .details form {
        width: 100%;
    }
}

@media (max-width: 480px) {}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999;
    transition: opacity 0.90s, visibility 0.90s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px dotted #ce5d07;
    border-top-color:rgb(244, 240, 240);
    border-radius: 50%;
    animation: loading 0.7s ease infinite
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}